body, html {
    font-family: 'Arial', sans-serif;
    display: block;
    padding: 0;
    margin: 0;
    background-color: #F2F1EB;
}

a {
    color: rgb(29, 91, 185);
}

#map {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: -3;
}

#Smokey {
    width: 15vw;
    height: relative;
    position: relative;
    align-self: center;
    size: relative;
    margin-left: 5vw;
}

.sidebar {
    width: 25%;
    height: 100%;
    z-index: 3;
    background: #000000;
    background-blend-mode: overlay;
    padding: 15px;
    text-align: left;
    opacity: 80%;
    position: absolute;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0;
}

.tabBar {
    height: 50px;
    position: relative;
    font-family: 'Playfair Display', sans-serif;
    padding: 2px;
    border-radius: 2%;
    opacity: 80%;
    margin-left: 5px;
}

.scroll {
    width: 60vw;
    height: 40vh;
    overflow: auto;
    padding: 10px;
}

li, p {
    font-weight: lighter;
}

.tabButton, .button {
    font-family: 'Playfair Display', 'open sans';
    size: 0vmax;
    position: relative;
    background-color: black;
    color: whitesmoke;
    font-style: bold;
    opacity: 90;
    border-radius: 2px;
    margin-left: 2px;
    padding: 5px;
    align-items: center;
    margin-left: 0;
}

.tabButton:hover {
    cursor: pointer;
    color: wheat;
    background-color: #394053;
}

.text {
    font-size: 14pt;
    font-family: 'Arial Light', 'open sans';
}

#intro {
    color: #F2F1EB;
    size: smaller;
    font-family: 'Arial', 'opens sans';
    position: relative;
}

h1 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 30pt;
    font-weight: lighter;
    kerning: 3mm;
    color: #E6EBD8;
    text-align: left;
    text-decoration: rgba(0, 0, 0, 0.25);
    text-decoration-style: dotted;
}

/* styling for the tweet box */
.tweetBox {
    position: absolute;
    font-family: 'Arial', 'sans serif';
    margin-bottom: 5vh;
    margin-top: 65vh;
    margin-left: 30%;
    width: 65vw;
    padding: 5px;
    align-items: center;
    border-radius: 3px;
    font-size: 14px;
    color: #000000;
    background-color: #f2f1eb;
    border-radius: 3px;
    z-index: 1;
    opacity: 80%;
}

.tweetBox {
    display: flex;
}

#leftTBcolumn {
    width: 70%;
}

#tweet, #date {
    font-family: 'Arial', 'sans serif';
    font-weight: lighter;
    color: black;
    font-style: normal;
    float: top;
}

#tweet_media {
    height: 200px;
    float: right;
    margin: 5px;
    max-width: 400px;
}

#process {
    padding: 20px;
    margin-left: 30%;
    display: none;
    display: flexbox;
    background-color: #F2F1EB;
}

pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    width: 95%;
    margin: 1em;
    white-space: pre-wrap;
    font-weight: lighter;
}

.prettyprint {
    background-color: #a1bec9;
    margin: 10px;
    border-radius: 30px;
    padding: 5px;
}

/*
#chart {
    position: absolute;
    border-radius: 4px;
    padding: 5px;
    max-width: 300px;
    align-items: left;
    margin-left: 30%;
    display: none;
}
*/

#chart {
    position: absolute;
    border-radius: 4px;
    align-items: left;
    margin-left: 50%;
    display: none;
}

/* styling for the language menu */
#menu {
    background: #b9b6bd;
    opacity: 80%;
    position: absolute;
    z-index: 1;
    top: 25%;
    right: 10px;
    border-radius: 3px;
    width: 120px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-family: 'Playfair Display', sans-serif;
    color: Black;
}

#menu a {
    font-size: 13px;
    color: black;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
}

#menu a:last-child {
    border: none;
}

#menu a:hover {
    background-color: white;
    color: #000000;
}

#menu a.active {
    background-color: #e6ebd8;
    color: #000000;
}

#menu a.active:hover {
    background: #394053;
    color: #f2f1eb;
}
