/* Here's a test stylesheet. */

body, html {
    font-family: Helvetica, Arial, sans-serif;
    display: block;
    padding: 20px;
}
#map { 
    position: relative; 
    top: 10%; 
    bottom: 10%; 
    width: 90%; 
    height: 90vh;
    position: center;
    }

.text {
    font-size: 14pt;
}

#intro {
    color: navy;
}

.text {
    padding-top: 20px;
    padding-bottom: 20px;
}

h1 {
font-size: 16pt;
font-style: bold;
}

h2 {
    font-size: 14pt;
    font-style: italic;
}

#process {
    padding: 20px;
}

code {
    font-family: courier;
    text-indent: 50px;
    background-color: '#98bfb5';
}
    
#chart {
    position: relative;
    border-radius: 4px;
    padding: 5px;
    max-width: 300px;
    align-items: left;
}

.viz {
    border: 1px solid #ddd;
    
/* styling for the tweet box */
#tweetBox {
    position: absolute;
    font-family: sans-serif;
    margin-top: 5px;
    margin-left: 5px;
    padding: 5px;
    width: 30%;
    border: 2px solid black;
    font-size: 14px;
    color: #222;
    background-color: #fff;
    border-radius: 3px;
    }

/* styling for the interactive menu */
#menu {
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    border-radius: 3px;
    width: 120px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-family: 'Open Sans', sans-serif;
}

#menu a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
}

#menu a:last-child {
    border: none;
}

#menu a:hover {
    background-color: #f8f8f8;
    color: #404040;
}

#menu a.active {
    background-color: #3887be;
    color: #ffffff;
}

#menu a.active:hover {
    background: #3074a4;
}
}
