/* Here's a test stylesheet. */

body, html {
    font-family: Helvetica, Arial, sans-serif;
    display: block;
    padding: 20px;
}
#map { 
    position: relative; 
    top: 10%; 
    bottom: 10%; 
    width: 90%; 
    height: 90vh;
    position: center;
    }

.text {
    font-size: 14pt;
}

#intro {
    color: navy;
}

.text {
    padding-top: 20px;
    padding-bottom: 20px;
}

h1 {
font-size: 16pt;
font-style: bold;
}

h2 {
    font-size: 14pt;
    font-style: italic;
}

#process {
    padding: 20px;
}

code {
    font-family: courier;
    text-indent: 50px;
    background-color: '#98bfb5';
}
    
#chart {
    position: relative;
    border-radius: 4px;
    padding: 5px;
    max-width: 300px;
    align-items: left;
}

.viz {
    border: 1px solid #ddd;
}