/* Here's a test stylesheet. */

body, html {
    font-family: 'Arial', sans-serif;
    display: block;
    padding: 0;
    margin: 0;
    /* background-color: #3887be; */
}

a {
    color:rgb(29, 91, 185);
}
#map {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height:100vh;
    z-index: -3;
    /* margin-left: 25%; */
    }

#Smokey {
    width: 15vw;
    height: relative;
    position: relative;
    align-self: center;
    size: relative;
    margin-left: 5vw;
}

.sidebar {
    width: 25%;
    height: inherit;
    background: #000000;
    background-blend-mode: overlay;
    padding: 15px;
    text-align: justify;
    z-index: 2;
    opacity: 80%;
    position: absolute;
    margin-top: 0px;
    margin-bottom: 50px;
    padding-top:0;
}

.tabBar {
    /* width: 23%; */
    height: 50px;
    /* align-items: center; */
    /* margin: 0; */
    position: relative;
    /* z-index: 3; */
    font-family:'Playfair Display', sans-serif;
    padding: 2px;
    border-radius:2%;
    /* position: absolute; */
    opacity: 80%;
    /* margin-top:0vh; */
    /* margin-bottom: 20%; */
    margin-left: 5px;
}

/*
li {
    font-weight: lighter;
    background-color: #394053;
    background-blend-mode: color-burn;
    border-radius: 2px;
}
*/

.tabButton, .button {
    font-family: 'Playfair Display', 'open sans';
    size:0vmax;
    position: relative;
    background-color: black;
    color: whitesmoke;
    font-style: bold;
    opacity: 90;
    border-radius: 2px;
    margin-left: 2px;
    padding: 5px;
    align-items: center;
    /* z-index: 3; */
    margin-left: 0;
}

.text {
    font-size: 14pt;
    font-family: 'Arial Light', 'open sans';
}

#intro {
    color: #F2F1EB;
    size: smaller;
    font-family: 'Arial', 'opens sans';
}

/* .text {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #F1E7CC;
} */

h1 {
font-family: 'Playfair Display', sans-serif;
font-size: 30pt;
font-weight:lighter;
kerning:3mm;
color: #E6EBD8;
text-align: left;
text-decoration:rgba(0, 0, 0, 0.25);
text-decoration-style: dotted;
}
/* 
h2 {
    text-align: left;
    font-size: 14pt;
    font-style: italic;
    color: white;
    font-family: 'Montserrat', 'open sans';
} */

#process {
    padding: 20px;
    margin-left: 30%;
    display: none;
    display: flexbox;
    /* z-index: -2; */
}

/* code {
    font-family: courier;
    text-indent: 50px;
    background-color: '#98bfb5';
}

pre code {
    background-color: #000;
    border: 1px solid #999;
    display: block;
    padding: 20px;
} 

pre.prettyprint, code.prettyprint {
	background-color: #000;
	border-radius: 8px;
}

pre.prettyprint {
	width: 95%;
	margin: 1em auto;
	padding: 1em;
	white-space: pre-wrap;
} */

pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 10px;
    border-radius: 8px;
    width: 95%;
    margin: 1em;
    white-space: pre-wrap;
}

#chart {
    position: absolute;
    border-radius: 4px;
    padding: 5px;
    max-width: 300px;
    align-items: left;
    margin-left: 30%;
    display: none;
    /* z-index: -1; */
}


/* styling for the tweet box */
.tweetBox {
    position: absolute;
    font-family: 'Arial','sans serif';
    margin-bottom: 0;
    margin-top:10vh;
    margin-left: 40%;
    padding: 5px;
    width: 45%;
    align-items: center;
    border-radius: 3px;
    font-size: 14px;
    color: #000000;
    background-color:#f2f1eb;
    border-radius: 3px;
    z-index: 1;
    opacity: 80%;
}

#tweet, #date {
    font-family: 'Arial', 'sans serif';
    color: black;
    font-style: normal;
    margin: -3px;
}

/* styling for the interactive menu */
#menu {
    background: #b9b6bd;
    opacity: 80%;
    position: absolute;
    z-index: 1;
    top: 25%;
    right: 10px;
    border-radius: 3px;
    width: 120px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-family: 'Playfair Display', sans-serif;
    color:Black;
}

#menu a {
    font-size: 13px;
    color: black;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
}

#menu a:last-child {
    border: none;
}

#menu a:hover {
    background-color: white;
    color:#000000;
}

#menu a.active {
    background-color:  #e6ebd8;
    color: #000000;
}

#menu a.active:hover {
    background: #394053;
    color: #f2f1eb;
}
